<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{search("Space Debris")}}</span></div>
   <div>Communication: <span>{{search("Communication")}}</span></div>
   <div>Probe: <span>{{search("Probe")}}</span></div>
   <div>Positioning: <span>{{search("Positioning")}}</span></div>
   <div>Space Station: <span>{{search("Space Station")}}</span></div>
   <div>Telescope: <span>{{search("Telescope")}}</span></div>
</div>
